article {
  border-radius: 5px;
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  padding: 15px 0;
  cursor: pointer;
  
  p {
    margin: 5px 0;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .metric {
    font-weight: 700;
  }

  .value {
    font-weight: 700;
    font-size: 2rem;
  }

  .variation {
    display: flex;
    align-items: center;
    &.up {
      color: var(--lime-green);
    }
    &.down {
      color: var(--bright-red);
    }
    img {
      margin-right: 5px;
    }
  }
}

/* DARK MODE COLOR SCHEMA */
article.dark {
  background-color: var(--dark-card-bg);
  &:hover {
    background-color: hsl(228, 28%, 30%);
  }
  .metric {
    color: var(--dark-text);
  }
  .value {
    color: var(--dark-text-contrast);
  }
}

/* LIGHT MODE COLOR SCHEMA */
article.light {
  background-color: var(--light-card-bg);
  &:hover {
    background-color: hsl(227, 47%, 86%);
  }
  .metric {
    color: var(--light-text);
  }
  .value {
    color: var(--light-text-contrast);
  }
}