<div class="pattern"></div>
<main [ngClass]="{'dark': viewMode, 'light': !viewMode}">
  <!-- Header ith the toggle -->
  <header>
    <h1>
      Social Media Dashboard
      <small>Total followers: {{ getTotalFollowers() }}</small>
    </h1>
    <app-dark-mode-toggle></app-dark-mode-toggle>
  </header>

  <!-- First section: The social media cards -->
  <section class="social-cards">
    <app-social-card *ngFor="let data of analytics" [data]="data"></app-social-card>
  </section>

  <!-- Second section: Overview cards -->
  <section class="overview-cards">
    <h2>Overview - Today</h2>
    <div class="overview-grid">
      <app-overview-card *ngFor="let data of overviews" [data]="data"></app-overview-card>
    </div>
  </section>
</main>